#banner {
	
	background-color: blue;
	position: absolute;
	left: -2px;
	top: -6px;
	width: 1281px;
	height: 136px;
	z-index: 2;

}

#banner .nulink img {
	position: absolute;
}


a {
	color: black;
}


#nav li {
	height: 30px;
	display: inline-block;
	position: relative;

	padding-top: 133px;
	padding-left: 175px;

	font-size: 20px;
	font-family: "Helvetica";
	text-transform: uppercase;

	float: top;
	
}







