.banner {
	
	height: 125px;
	margin-top: 0px;
	font-family: "Helvetica";
	font-size: 50px;
	color: white;
	text-transform: uppercase;
	
	background-color: #4B0082;
	background-size: 100px;


}
p {
    left: 650px;
    top: 20px;
    position: relative;
}

#content-table {
	background-color: transparent;
	color: black;
	font-family: "Helvetica";
	font-size: 20px;
}